appnope==0.1.0
attrs==19.3.0
backcall==0.1.0
blinker==1.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
decorator==4.4.2
git+git://github.com/s0h3ck/finnhub-api-python-client.git@0396f85d3ec9307c7007ca95c832c59615fc2f13
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.0
ipython==7.15.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.2.0
multidict==4.7.5
oauthlib==3.1.0
packaging==20.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==5.4.1
pytest-vcr==1.0.2
python-dotenv==0.13.0
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
sentry-sdk==0.14.3
six==1.14.0
traitlets==4.3.3
tweepy==3.8.0
urllib3==1.25.9
vcrpy==4.0.2
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.4.2
zipp==3.1.0
