interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?q=quantum+-filter%3Aretweets&until=2020-03-26&tweet_mode=extended&result_type=popular&count=100
  response:
    body:
      string: '{"statuses":[{"created_at":"Sun Mar 22 13:03:31 +0000 2020","id":1241712109601222666,"id_str":"1241712109601222666","full_text":"Please
        read this article, it may help develop greater understanding of the scientific
        subject &amp; satisfy curiosity. Quantum physics is way beyond, different
        forms of energy &amp; how sum total of energy is a constant. \u0905\u0923\u0941
        \u0938\u0947 \u0924\u0942 \u092a\u0930\u092e\u093e\u0923\u0941 \u092c\u0928\u093e
        \u092b\u093f\u0930 \u0928\u0940\u0930 \u092c\u0928\u093e https:\/\/t.co\/1t0LoAfqtn
        https:\/\/t.co\/jQ1uInQ7Mb","truncated":false,"display_text_range":[0,277],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/1t0LoAfqtn","expanded_url":"https:\/\/www.livescience.com\/7472-kill-viruses-shake-death.html","display_url":"livescience.com\/7472-kill-viru\u2026","indices":[254,277]},{"url":"https:\/\/t.co\/jQ1uInQ7Mb","expanded_url":"https:\/\/twitter.com\/_sabanaqvi\/status\/1241694945049579522","display_url":"twitter.com\/_sabanaqvi\/sta\u2026","indices":[278,301]}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/#!\/download\/ipad\" rel=\"nofollow\"\u003eTwitter
        for iPad\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":373410448,"id_str":"373410448","name":"Meenakashi
        Lekhi","screen_name":"M_Lekhi","location":"Delhi","description":"Lawyer. Social
        Activist. BJP National Spokesperson. Member of Parliament, New Delhi LS Constituency.
        Chairperson,Standing Committee on Public Sector Enterprise","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1681121,"friends_count":369,"listed_count":1194,"created_at":"Wed
        Sep 14 14:46:13 +0000 2011","favourites_count":3000,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":6749,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1236370511258505217\/Izp61zLB_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1236370511258505217\/Izp61zLB_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/373410448\/1537994008","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1241694945049579522,"quoted_status_id_str":"1241694945049579522","quoted_status":{"created_at":"Sun
        Mar 22 11:55:19 +0000 2020","id":1241694945049579522,"id_str":"1241694945049579522","full_text":"Do
        you think the virus may now go running back to China? \n\nJustSaying","truncated":false,"display_text_range":[0,69],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for A[...]
