interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?q=physics+-filter%3Aretweets&until=2020-03-29&tweet_mode=extended&result_type=popular&count=100
  response:
    body:
      string: '{"statuses":[{"created_at":"Sat Mar 28 15:23:05 +0000 2020","id":1243921560181841920,"id_str":"1243921560181841920","full_text":"This
        tortoise has an alarmingly strong grasp of Newtonian physics https:\/\/t.co\/1VQ9piiKkY","truncated":false,"display_text_range":[0,65],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/1VQ9piiKkY","expanded_url":"https:\/\/twitter.com\/ottleyoconnor\/status\/1243112057932861440","display_url":"twitter.com\/ottleyoconnor\/\u2026","indices":[66,89]}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":33773592,"id_str":"33773592","name":"Katie
        Mack","screen_name":"AstroKatie","location":"Waterloo, Ontario","description":"(a.k.a.
        Dr Katherine J Mack) astrophysicist\/cosmologist, writer, connoisseur of cosmic
        catastrophes. Author: \"The End of Everything (Astrophysically Speaking)\"","url":"https:\/\/t.co\/vS0Cm5nKgg","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/vS0Cm5nKgg","expanded_url":"http:\/\/www.astrokatie.com\/book","display_url":"astrokatie.com\/book","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":346883,"friends_count":3061,"listed_count":4160,"created_at":"Tue
        Apr 21 02:22:18 +0000 2009","favourites_count":116844,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":105553,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2818477708\/0ef050189a11bb7f9cf56306f5d171bf_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2818477708\/0ef050189a11bb7f9cf56306f5d171bf_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/33773592\/1551089494","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1243112057932861440,"quoted_status_id_str":"1243112057932861440","quoted_status":{"created_at":"Thu
        Mar 26 09:46:25 +0000 2020","id":1243112057932861440,"id_str":"1243112057932861440","full_text":"5
        days out of his winter hibernation &amp; Hurricane is  getting into his garden
        lockdown football exercise this morning...he\u2019ll be posting his boxercise
        routine &amp; tomorrow! \n\ud83d\ude02\ud83d\udc22 #teacher5aday #exercise
        #notice https:\/\/t.co\/xUMGL6h5ya","truncated":false,"display_text_range":[0,213],"entities":{"hashtags":[{"text":"teacher5aday","indices":[182,195]},{"text":"exercise","indices":[196,205]},{"text":"notice","indices":[206,213]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1243111989863424000,"id_str":"1243111989863424000","indices":[214,237],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1243111989863424000\/pu\/img\/83RofJeFyaJw0_LT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1243111989863424000\/pu\/img\/83RofJeFyaJw0_LT.jpg","url":"https:\/\/t.co\/xUMGL6h5ya","display_url":"pic.twitter.com\/xUMGL6h5ya","expanded_url":"https:\/\/twitter.com\/ottleyoconnor\/status\/1243112057932861440\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"large":{"w":720,"h":1280,"resize":"fit"},"medium":{"w":675,"h":1200,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1243111989863424000,"id_str":"1243111989863424000","indices":[214,237],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1243111989863424000\/pu\/img\/83RofJeFyaJw0_LT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1243111989863424000\/pu\/img\/83RofJeFyaJw0_LT.jpg","url":"https:\/\/t.co\/xUMGL6h5ya","display_url":"pic.twitter.com\/xUMGL6h5ya","expanded_url":"https:\/\/twitter.com\/ottleyoconnor\/status\/1243112057932861440\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"large":{"w":720,"h":1280,"resize":"fit"},"medium":{"w":675,"h":1200,"resize":"fit"}},"video_info":{"aspect_ratio":[9,16],"duration_millis":24853,"variants":[{"bitrate":632000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1243111989863424000\/pu\/vid\/320x568\/C6Ya8HaG7jRyiiYF.mp4?tag=10"},{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1243111989863424000\/pu\/vid\/360x640\/NPbVvSSsCWWdZyMZ.mp4?tag=10"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/1243111989863424000\/pu\/pl\/8BqQFQ-L-EKsbFJM.m3u8?tag=10"},{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1243111989863424000\/pu\/vid\/720x1280\/tYOwZZH5x1G3i0GY.mp4?tag=10"}]},"additional_media_info":{"monetizable":false}}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2171333902,"id_str":"2171333902","name":"Patrick
        Ottley-O''Connor","screen_name":"ottleyoconnor","location":"Rochdale","description":"Executive
        Principal: North Liverpool Academy (NST) Collaborative Leadership ltd. World
        Traveller\ud83c\udf0e #Leadership #Coach #Wellbeing #HeForShe #teacher5aday
        #ally","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":12855,"friends_count":9785,"listed_count":194,"created_at":"Wed
        Nov 06 21:29:00 +0000 2013","favourites_count":64521,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":52383,"lang":null,"contributors_ena[...]
