interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=quantum+-filter%3Aretweets&result_type=popular&tweet_mode=extended&until=SOME_DATE
  response:
    body:
      string: '{"statuses":[{"created_at":"Tue Mar 24 09:45:37 +0000 2020","id":1242387082951053312,"id_str":"1242387082951053312","full_text":"\u30b9\u30de\u30fc\u30c8\u30c9\u30fc\u30eb\u7528\u4fdd\u8b77\u30de\u30b9\u30af\u300c\u30af\u30a1\u30f3\u30bf\u30e0\u30de\u30b9\u30af\u300d\u901a\u8ca9\u958b\u59cb\u3002\u30b3\u30ed\u30ca\u306b\u306f\u52b9\u679c\u3042\u308a\u307e\u305b\u3093\u3002\nQuantum
        mask for #smartdoll available now - can also use as a protector when traveling.
        Has no effect on Coronavirus.\nhttps:\/\/t.co\/zSHjt2ADjt https:\/\/t.co\/UT355kTY0I","truncated":false,"display_text_range":[0,183],"entities":{"hashtags":[{"text":"smartdoll","indices":[59,69]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/zSHjt2ADjt","expanded_url":"https:\/\/shop.smartdoll.jp\/collections\/new","display_url":"shop.smartdoll.jp\/collections\/new","indices":[160,183]}],"media":[{"id":1242386925358444545,"id_str":"1242386925358444545","indices":[184,207],"media_url":"http:\/\/pbs.twimg.com\/media\/ET3YU3-UcAEzVvS.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/ET3YU3-UcAEzVvS.jpg","url":"https:\/\/t.co\/UT355kTY0I","display_url":"pic.twitter.com\/UT355kTY0I","expanded_url":"https:\/\/twitter.com\/dannychoo\/status\/1242387082951053312\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"medium":{"w":1200,"h":1200,"resize":"fit"},"large":{"w":2048,"h":2048,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1242386925358444545,"id_str":"1242386925358444545","indices":[184,207],"media_url":"http:\/\/pbs.twimg.com\/media\/ET3YU3-UcAEzVvS.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/ET3YU3-UcAEzVvS.jpg","url":"https:\/\/t.co\/UT355kTY0I","display_url":"pic.twitter.com\/UT355kTY0I","expanded_url":"https:\/\/twitter.com\/dannychoo\/status\/1242387082951053312\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"[...]
