interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=physics+-filter%3Aretweets&result_type=popular&tweet_mode=extended&until=SOME_DATE
  response:
    body:
      string: '{"statuses":[{"created_at":"Mon Mar 30 18:47:24 +0000 2020","id":1244697752258457601,"id_str":"1244697752258457601","full_text":"Nobel
        laureate Philip Anderson has died at age 97. He was a leading theorist in
        condensed matter and even coined the term. One of the true giants in theoretical
        physics.\n\nhttps:\/\/t.co\/eOe79L6K9R","truncated":false,"display_text_range":[0,194],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/eOe79L6K9R","expanded_url":"https:\/\/www.santafe.edu\/news-center\/news\/memoriam-philip-anderson","display_url":"santafe.edu\/news-center\/ne\u2026","indices":[171,194]}]},"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":20608701,"id_str":"20608701","name":"Physics
        Today","screen_name":"PhysicsToday","location":"College Park, MD","description":"Physics
        Today is the world''s most popular physics magazine.","url":"http:\/\/t.co\/qBNKHrSpwQ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/qBNKHrSpwQ","expanded_url":"http:\/\/physicstoday.org","display_url":"physicstoday.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":162388,"friends_count":252,"listed_count":2159,"created_at":"Wed
        Feb 11 18:23:39 +0000 2009","favourites_count":1101,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":24052,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"696965","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1234488160228388864\/iSPcxN_w_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1234488160228388864\/iSPcxN_w_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/20608701\/1583159888","profile_link_color":"0099CC","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"B4CECF","profile_text_color":"3C3940","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":210,"favorite_count":549,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Mar 30 17:53:21 +0000 2020","id":1244684151720235009,"id_str":"1244684151720235009","full_text":"The
        Nobel laureate Philip Anderson, who made numerous contributions to physics,
        has died aged 96 https:\/\/t.co\/o5fYB3FW1M","truncated":false,"display_text_range":[0,120],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/o5fYB3FW1M","expanded_url":"http:\/\/ow.ly\/VDJe50z05cn","display_url":"ow.ly\/[...]
