<!doctype html>
<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

	  var symbol = document.getElementById("symbol").value;
	  var word = document.getElementById("word").value;

	  symbol = (symbol === "") ? "GOOG" : symbol
	  word = (word === "") ? "Quantum" : symbol

	  url = '/data/'+symbol+'/'+word

	  var jsonData = $.ajax({
              url,
              dataType: "json",
              async: false // TODO: async later
          }).responseJSON;

	  var epochs = jsonData.stock_data.t;
	  var openings = jsonData.stock_data.o;
	  var tweets = jsonData.tweets;
	  
          // Create the stock data table.
          var stock_data = new google.visualization.DataTable();
	  stock_data.addColumn('date', 'Date');
	  stock_data.addColumn('number', 'Openings');

          for(i = 0; i < epochs.length; i++)
              stock_data.addRow([
		  new Date(epochs[i]*1000),
		  openings[i]]);

	  // Create tweets data table
	  var twitter_data = new google.visualization.DataTable();
	  twitter_data.addColumn('date', 'Date');
	  twitter_data.addColumn('number', 'Retweet Count');
	  twitter_data.addColumn({type: 'string', role: 'tooltip'});
	  
	  for(i = 0; i < tweets.length; i++) {
	      tweet = tweets[i];
	      tweetInfos = '@' + tweet.author + ': ' + tweet.text;
	      twitter_data.addRow([
		  new Date(tweet.created_at),
		  tweet.retweet_count,
		  tweetInfos]);
	  }

	  twitter_data.sort([{column: 0}]);
	  
          // Set chart options
          var options = {title:'Stock Data test',
			 width:400,
			 height:300};

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(twitter_data, options);
      }
    </script>
  </head>

  <body>
    <form>
      <label for="symbol">Stock Symbol</label>
      <input type="text" placeholder="e.g. GOOG" id="symbol">
      <label for="word">Word to search for</label>
      <input type="text" placeholder="e.g. Quantum Computing" id="word">
      <button type="button" onclick="drawChart();">Let's go!</button>
    </form>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
  </body>
</html>
