<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

    <title>Stocks vs Tweets</title>
  </head>
  <body>
    <div class="container">
      <div class="col-9 mx-auto">
	<form class="form-inline justify-content-center" onsubmit="drawChart(); return false">
	  <div class="form-group">
	    <label for="symbol" class="mr-2">Stock Symbol </label>
	    <select class="form-control mr-2" id="symbol">
	      <option value="AAPL">Apple (AAPL)</option>
	      <option value="GOOG">Google (GOOG)</option>
	      <option value="FB">Facebook (FB)</option>
	      <option value="MSFT">Microsoft (MSFT)</option>
	      <option value="TSLA">Tesla (TSLA)</option>
	      <option value="BABA">Alibaba (BABA)</option>
	      <option value="TWTR">Twitter (TWTR)</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="word" class="mr-2">Word to search for </label>
	    <input type="text" class="mr-2" placeholder="e.g. Quantum Computing" value="COVID" id="word">
	  </div>
	  <button class="btn btn-primary mb-2" type="submit">Let's go!</button>
	</form>
      </div>
      <!--Div that will hold the chart-->
      <div class="col-9 my-5 mx-auto">
	<div id="chart_div"></div>
      </div>
      <br>
      <p>VERY early concept. Quite slow (expect to wait a couple of seconds per chart. Hover on the stars to read the tweets.</p>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='twst.js') }}"></script>
  </body>
</html>
