:root {
    --background-color: rgba(3, 0, 13, 1);
    --text-color: rgba(255, 248, 240, 1);
    --down-color: rgba(165, 39, 20, 1);
    --up-color: rgba(15, 157, 88, 1);
    --red-accents: rgba(146, 20, 12, 1);
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.google-visualization-tooltip {
    width: 350px !important;
}
